version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3100:3100"
    environment:
      - NODE_ENV=production
    volumes:
      - .:/app
      - /app/node_modules
    command: pnpm start

# servicio para MongoDB local en el futuro (de momento usamos mongo atlas): --- IGNORE ---
#  mongodb:
#    image: mongo:6.0
#    container_name: mongodb
#    ports:
#      - "27017:27017"
#    volumes:
#      - mongo_data:/data/db

#volumes:
#  mongo_data:
#    driver: local